<!DOCTYPE html>
<html ng-app="SimApp" >
<head>
    <title ng-bind="'My App &mdash; ' + title">My App</title>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>
<body ng-controller="MainCtrl">       
    
    <div style="padding-bottom:50px;">
    	<button ng-click="runSim()" ng-show="showStartBtn">Run Simulation</button>
    </div>

    <div>
        <form name="form" class="css-form" novalidate>
            
            Iterations: <input ng-model="iterations" type="number" min="1" max="1000" integer /><br/>
            Rate: <input ng-model="rate" type="number" min="100" max="200" integer /><br/>
            Avg Jobs/Year: <input ng-model="jobs" type="number" integer /><br/>
            Job Ratio(Small/Large): <input ng-model="jobratio" type="number" min="0" max="10" integer /><br/>

            Designers: <input ng-model="resources.designers" min="1" max="5" type="number" integer /><br/>
            Programmers: <input ng-model="resources.engineers" min="1" max="5" type="number" integer /><br/><br/>

            Current Iteration: {{curIteration}}<br><br>
            Income/Year: {{avgIncome | currency : $ : 0}}<br>
            Expense/Year: {{avgExpense | currency : $ : 0}}<br><br>
            Jobs/Year: {{avgJobs}}<br><br>
            Income/Month: {{avgIncomeMo | currency : $ : 0}}<br>
            Expense/Month: {{avgExpenseMo | currency : $ : 0}}<br>
            Jobs/Month: {{avgJobsMo}}<br><br>
           
            Profit/Year: {{profit  | currency : $ : 0}}<br/>
            Profit/Month: {{profitMo  | currency : $ : 0}}<br/>
            Gross Margin: {{grossMargin  | number : 1 }}%<br/>
        </form>
    </div>

    <div class="block" style="position: absolute; top:50px; right:50px; width:800px; height:500px;" ng-controller="ChartController">
        <canvas id="bar" class="chart chart-bar" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series" chart-options="{scaleIntegersOnly:true, scaleOverride:true, scaleSteps: bob, scaleStepWidth:sue, scaleStartValue:0}"></canvas>
    </div>
    
</body>
</html>